
.login-box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 300px;
    text-align: center; 
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.uname {
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;

}

.pword {
    padding: 1rem;
}